<!doctype html>
<html>
<head>
    <title>AgentK Documentation Generator</title>
    <link rel="stylesheet" href="doc.css"/>
</head>

<body class="frames">
<ul>
    <% modules.forEach(function(module) { %><li><a href="<%- module %>.html" target="Content"><%- module %></a></li>
    <% }) %>
</ul>
<iframe name="Content" id="Content" src="<%- modules.length? modules[0] + '.html' : 'about:blank'%>" frameborder="0"></iframe>
</body>
</html>